<?xml version="1.0" encoding="utf-8"?>
<log>
<!-- inforamtion about Symbols -->
<logHeadTokenizer>,</logHeadTokenizer>
<logBodyTokenizer>,</logBodyTokenizer>
<logHeadBodyTokenizer>;</logHeadBodyTokenizer>
<escapeSymbol>\</escapeSymbol>

<!-- inforamtion about log head -->
<logHead>
<tag1>TimeStamp</tag1>
<tag2>RemoteIP</tag2>
<tag3>OriginateIP</tag3>
<tag4>UA</tag4>
<tag5>SessionID</tag5>
<tag6>TransactionID</tag6>
<tag7>MobileNo</tag7>
<tag8>Source</tag8>
<tag9>ContentType</tag9>
<tag10>Ptn</tag10>
<tag11>Encoding</tag11>
<tag12>Referer</tag12>
<tag13>Uid</tag13>
</logHead>

<!-- inforamtion about log body -->
<logBody>
<!-- log body of product:image -->
<image>
<!-- actinType:Click -->
<imageclick>
<tag1>PageNum</tag1>
<tag2>Query</tag2>
<tag3>Rank</tag3>
<tag4>Url</tag4>
</imageclick>
<!-- actinType:Search -->
<imagesearch>
<tag1>Hits</tag1>
<tag2>PageNum</tag2>
<tag3>Query</tag3>
<tag4>RespTime</tag4>
<tag5>Start</tag5>
</imagesearch>
</image>

<!-- log body of product:page -->
<Page>
<pageClick>
<tag1>PageNum </tag1>
<tag2>Query</tag2>
<tag3>Rank</tag3>
<tag4>Url</tag4>
</pageClick>
<pageSearch>
<tag1>Hits </tag1>
<tag2>PageNum</tag2>
<tag3>Query</tag3>
<tag4>RespTime</tag4>
<tag5>Start</tag5>
</pageSearch>
<pageSnapshot>
<tag1>Hits </tag1>
<tag2>PageNum</tag2>
<tag3>Query</tag3>
<tag4>RespTime</tag4>
<tag5>Start</tag5>
</pageSnapshot>
</Page>
</logBody>
</log>

