<?xml version="1.0" encoding="utf-8"?>
<log>
<!-- inforamtion about Symbols -->

<Tokenizer name="logHeadTokenizer" value=","/>
<Tokenizer name="logBodyTokenizer" value=","/>
<Tokenizer name="logHeadBodyTokenizer" value=";"/>
<Tokenizer name="escapeSymbol" value="\"/>

<!-- inforamtion about log head -->
<loghead>
<tag name="TimeStamp" />
<tag name="RemoteIP" />
<tag name="OriginateIP" />
<tag name="UA" />
<tag name="SessionID" />
<tag name="TransactionID" />
<tag name="MobileNo" />
<tag name="Source" />
<tag name="ContentType" />
<tag name="Ptn" />
<tag name="Encoding" />
<tag name="Referer" />
<tag name="Uid" />
</loghead>

<logbody>
<!-- log body of product:image -->
<product name="image">
<!-- actinType:Click -->
<action name="imageclick">
<tag name="PageNum" />
<tag name="Query" />
<tag name="Rank" />
<tag name="URL" />
</action>

<!-- actinType:Search -->
<action name="imagesearch">
<tag name="Hits" />
<tag name="PageNum" />
<tag name="Query" />
<tag name="RespTime" />
<tag name="Start" />
</action>
</product>

<!-- log body of product:music -->
<product name="music">
<!-- actinType:Jump -->
<action name="musicjump">
<tag name="OpType" />
<tag name="Query" />
<tag name="Id" />
</action>

<!-- actinType:Search -->
<action name="musicsearch">
<tag name="Type" />
<tag name="From" />
<tag name="Query" />
<tag name="Start" />
<tag name="PageNum" />
<tag name="Hits" />
<tag name="RespTime" />
</action>
</product>


<!-- log body of product:Navigation -->
<product name="navigation">
<!-- actinType:Click -->
<action name="navclick">
<tag name="Url" />
<tag name="Classify" />
<tag name="Name" />
<tag name="SubClassify" />
<tag name="Position" />
<tag name="City" />
</action>

<!-- actinType:Onload-->
<action name="navonload">
<tag name="LoadTime" />
<tag name="City" />
</action>
</product>

<!-- log body of product:News -->
<product name="news">
<!-- actinType:Click -->
<action name="newsclick">
<tag name="PageNum" />
<tag name="Query" />
<tag name="Rank" />
<tag name="URL" />
</action>

<!-- actinType:Search -->
<action name="newssearch">
<tag name="Hits" />
<tag name="PageNum" />
<tag name="Query" />
<tag name="RespTime" />
<tag name="Start" />
</action>
</product>

<!-- log body of product:OtherPage -->
<product name="otherpage">
<!-- actinType:Send -->
<action name="otherpage">
<tag name="U?" />
</action>
</product>

<!-- log body of product:page -->
<product name="page">
<!-- actinType:Click -->
<action name="pageclick">
<tag name="PageNum" />
<tag name="Query" />
<tag name="QueryType" />
<tag name="Rank" />
<tag name="Shard" />
<tag name="URL" />
</action>

<!-- actinType:Search -->
<action name="pagesearch">
<tag name="IsAdvance" />
<tag name="AppRespTime" />
<tag name="HasAds" />
<tag name="Hits" />
<tag name="PageNum"/>
<tag name="Query" />
<tag name="QueryType" />
<tag name="RespTime" />
<tag name="Start" />
<tag name="userSource" />
</action>

<!-- actinType:snapshot -->
<action name="pagesnapshot">
<tag name="PageNum" />
<tag name="Query" />
<tag name="Rank" />
<tag name="SnapshotURL"/>
<tag name="URL"/>
</action>
</product>

<!-- log body of product:Real -->
<product name="real">
<!-- actinType:Click -->
<action name="realclick">
<tag name="OpType" />
<tag name="Query" />
<tag name="BuzzID" />
<tag name="Share" />
<tag name="NewsID" />
<tag name="ClickType" />
<tag name="URL" />
</action>

<!-- actinType:Search -->
<action name="realsearch">
<tag name="Type" />
<tag name="Query" />
<tag name="Start" />
<tag name="PageNum" />
<tag name="Hits" />
<tag name="RespTime" />
<tag name="Result" />
<tag name="Relation" />
</action>
</product>

<!-- log body of product:SMS -->
<product name="SMS">
<!-- actinType:Send -->
<action name="smssend">
<tag name="Query" />
<tag name="Receiver" />
<tag name="SendResult" />
</action>
</product>

</logbody>

</log>

